<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email"> email </label>
    <input type="text" id="email" formControlName="email">
  </div>
  <div *ngIf="registerForm.controls.email.hasError('email') && registerForm.controls.email.touched">
    email invalid
  </div>
  <div formGroupName="passwordGroup">
    <div>
      <label for="password"> password </label>
      <input type="text" id="password" formControlName="password">
    </div>
    <div>
      <label for="confirmPassword"> confirm password </label>
      <input type="text" id="confirmPassword" formControlName="confirmPassword">
    </div>
  </div>
  <div *ngIf="registerForm.hasError('passwordNotMatch', ['passwordGroup']) &&
        registerForm.get('passwordGroup').touched">
    Password does not match!
  </div>
  <div class="form-group row">
    <label for="country">Country</label>
    <select formControlName="country" id="country">
      <option *ngFor="let items of countryList" [ngValue]="items.id">{{items.name}}</option>
    </select>
  </div>
  <div>
    <label for="age"> age </label>
    <input type="text" id="age" formControlName="age">
  </div>
  <div *ngIf="registerForm.controls.age.hasError('age') && registerForm.controls.age.touched">
    age invalid
  </div>
  <div>
    <label> gender </label>
    <input type="radio" formControlName="gender" value="male"> Male
    <input type="radio" formControlName="gender" value="female"> Female
    <input type="radio" formControlName="gender" value="other"> Other
  </div>
  <div *ngIf="registerForm.controls.gender.hasError('gender') && registerForm.controls.gender.touched">
    email invalid
  </div>
  <div>
    <label for="phone"> phone </label>
    <input type="text" id="phone" formControlName="phone">
  </div>
  <div *ngIf="registerForm.controls.phone.hasError('phone') && registerForm.controls.phone.touched">
    phone invalid
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
