<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" border="1">
    <label for="inputSearch"></label>
    <input type="text" id="inputSearch">
    <button>Search</button>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Signature</th>
        <th>category</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <button id="loadMore">Click me to load more</button>
</table>
<script src="../static/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        // tra ve du lieu bth
        // $.ajax({
        //     url: "http://localhost:8080/api/blog/list",
        //     type: "GET",
        //     dataType: "json",
        //     success: function (data) {
        //         console.log(data)
        //         let tr = [];
        //         for (let i = 0;i < data.length; i++){
        //             tr.push('<tr>')
        //             tr.push('<td>' + data[i].id + '</td>')
        //             tr.push('<td>' + data[i].title + '</td>')
        //             tr.push('<td>' + data[i].content + '</td>')
        //             tr.push('<td>' + data[i].signature + '</td>')
        //             tr.push('<td>' + data[i].category.categoryName + '</td>')
        //             tr.push('</tr>')
        //         }
        //         $('table').append($(tr.join('')));
        //     }
        // })


        $("button").click(function () {
            let value = $("#inputSearch").val();
            $("table").empty()

            $.ajax({
                url: "http://localhost:8080/api/blog/search?category=" + value,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let tr = [];
                    for (let i = 0; i < data.length; i++) {
                        tr.push('<tr>')
                        tr.push('<td>' + data[i].id + '</td>')
                        tr.push('<td>' + data[i].title + '</td>')
                        tr.push('<td>' + data[i].content + '</td>')
                        tr.push('<td>' + data[i].signature + '</td>')
                        tr.push('</tr>')
                    }
                    $('table').append($(tr.join('')))
                }
            })
        })
        let page = 0;
        //tra ve page
        $.ajax({
            url: "http://localhost:8080/api/blog/list?page=" + page,
            type: "GET",
            dataType: "json",

            success: function (data) {
                console.log(data)
                // data la gia tri content nen .content tu` data de chuyen ve
                let arr = data.content;

                let blogList = "";
                for (let i = 0; i < arr.length; i++) {
                    blogList += "<tr>";
                    blogList += "<td>" + arr[i].id + "</td>";
                    blogList += "<td>" + arr[i].title + "</td>";
                    blogList += "<td>" + arr[i].content + "</td>";
                    blogList += "<td>" + arr[i].signature + "</td>";
                    blogList += "<td>" + arr[i].category.categoryName + "</td>";
                    blogList += "</tr>";
                }
                $(".table").append(blogList);
            }
        });

        $('#loadMore').click(function () {

            $.ajax({
                url: "http://localhost:8080//v1/blog/api/list?page=" + page,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let arr = data.content;

                    let blogList = "";
                    for (let i = 0; i < arr.length; i++) {
                        blogList += "<tr>";
                        blogList += "<td>" + arr[i].id + "</td>";
                        blogList += "<td>" + arr[i].title + "</td>";
                        blogList += "<td>" + arr[i].content + "</td>";
                        blogList += "<td>" + arr[i].signature + "</td>";
                        blogList += "<td>" + arr[i].category.categoryName + "</td>";
                        blogList += "</tr>";
                    }
                    $("table").append(blogList);
                }

            })
        })
    })
    //    chay len
</script>
</body>
</html>