<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{create}" th:text="Create"></a>
<table class="table" border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="items, status : ${usersList}">
        <td th:text="${status.index} + 1"></td>
        <td th:text="${items.getFirstName()}"></td>
        <td th:text="${items.getLastName()}"></td>
        <td th:text="${items.getPhoneNumber()}"></td>
        <td th:text="${items.getAge()}"></td>
        <td th:text="${items.getEmail()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>