<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand my-custom" [routerLink]="['/list']">
      <img height="80px" src="../assets/img/thi1.jpg" width="100px" alt=""/>
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active"  style=" color: #088A68">Say hi!</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link active" [routerLink]="" style=" color: #088A68">Codegym God <3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="" style=" color: #088A68">DumbSet</a>
        </li>
        <li class="nav-item">
          <a aria-current="page" class="nav-link active my-custom" href="#" style="color: #088A68">Word Of
            My Project</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
