<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha
    384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div th:replace="/layout/header :: navbar"></div>

<div class="container-fluid border border-1">
    <div class="row bg-light">
        <div class="col-lg-12">
            <div>
                <!--                <%&#45;&#45;  form create&#45;&#45;%>-->
                <form method="post" th:object="${question}" action="/question/create">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date Create</label>
                        <input type="date" class="form-control" id="date" th:field="*{dateCreate}">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control" id="status" th:field="*{status}">
                    </div>
                    <div class="mb-3">
                        <label for="customerType" class="form-label">Question Type</label>
                        <select class="form-select" id="customerType" th:field="*{questionType}">
                            <option style="color: #088A68 " th:text="${items.getName()}" th:value="${items.getId()}"
                                    th:each="items : ${questionTypeList}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div th:replace="layout/footer :: footer">

</body>
</html>